---
import AboutHeroImage from '@assets/blog-placeholder-about.jpg';
import Layout from '@layouts/BlogPostFrench.astro';
---

<Layout
	title="Me concernant"
	description="A propos de moi"
	pubDate={new Date('24 mars 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		Super site web portfolio préparé par astro le framework js
	</p>
</Layout>
