---
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import HoverText from '@components/HoverText.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@const';
---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Bonjour à tous et à toutes !</h1>
			<p>
				Bienvenue sur mon site, ici je vais vous présenter sous forme de blog mes projets 
				perso et mes comptes rendus de cyber sécurité de mes premiers jusqu'à aujourd'hui
			</p>
			<p>
				Je suis un jeune développeur informatique ayant fait un BUT informatique (bac +3),
				je code principalement des app avec les langages <code>python</code>, 
				<code>typescript</code>, <code>php</code> et <code>rust</code> je maitrise les 
				framework tel que <code>Flask</code>, <code>FastApi</code>, <code>NextJS</code> et <code>Symfony</code> 	
			</p>
			<p>Voici quelques projets pour vous donner une idée de ce que je sais faire</p>
			<ul>
				<li><HoverText hoverText="Les SAE sont des gros projets scolaire de fin d'année">SAE</HoverText> 5 aramis</li>
				<li>Rmce qui est une application mobile de course de voiture</li>
				<li>Valenstagram une copie d'instagram pour l'apprentissage technique</li>
				<li>Telebox une app python pour scrapper des membres sur Telegram</li>
				<li>Turbo selector une api pour optimiser la sélection de n joueur selon x paramètres</li>
				<li>Dashdust qui est un dashboard de serveur simple, très puissant et moderne, optimisé en Rust et wasm</li>
				<li>Wipytest une app de scanning passive de wifi et d'analyse de vulnérabilité</li>
			</ul>
			<p>
				Par ailleurs j'adore le<HoverText hoverText="Applications auto hébergées sur mon nas">Self Hosting</HoverText>
				je m'amuse à host pleins d'application et développer des architectures de production sur mon serveur perso
			</p>
			<p>
				Et enfin je suis fan de cybersécurité, j'ai un compte <code>Rootme</code> et <code>HackTheBox</code>
				hésitez pas à regarder mon profil pour voir mes compétence dans les domaines ou lesquels j'ai performé
			</p>
		</main>
		<Footer />
	</body>
</html>
